@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-image: url("../images/neuron-home.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    width:100%;
    min-height: 7rem;
    display: flex;
    align-items: center;
}

.navbar__header{
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    margin-left: 2rem;
}

.navbar__items{
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    margin-left: 45rem;
    display: flex;
    flex-direction: row;
    gap:2.5rem;
}

.navbar__items a{
    text-decoration: none;
    color:#FFFFFF;
}

.login__container{
    width:100%;
    height:26.375rem;
    margin-top: 5rem;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.login__inner__container{
    width:32rem;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
}

.login__header{
    font-weight: 400;
    font-size:2rem;
    text-transform: uppercase;
}

label{
    color:#8E8B8B;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1.25rem;
}

input[type="text"]{
    width:17.6rem;
    height: 3.178rem;
    border-radius: 5px;
    border:1px solid #000000;
    font-size: 1.25rem;
    padding:2px 0px;
}

input[type="submit"]{
    width:7.875rem;
    height:2.813rem;
    background-color: #542520;
    color:#FFFFFF;
    border-radius: 6px;
    font-size:1.25rem;
    font-weight: 400;
    cursor: pointer;
}