<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/login.css">
    <title>Login</title>
</head>
<body>
    <div class="navbar">
        <span class="navbar__header">ALZHEIMER’S DIAGNOSIS</span>
        <div class="navbar__items">
            <a href="/"><span>HOME</span></a>
            <a href="/login"><span>LOGIN</span></a>
        </div>
    </div>
    <div class="login__container">
        <div class="login__inner__container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div id="flash-message" class="flush-message alert alert-success" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <span class="login__header">Login</span>
            <form action="/login" method="post">
            <div class="username">
                <label for="username">username</label><br/>
                <input type="text" id="username" name="username" />
            </div>
            <div class="password">
                <label for="password">password</label><br/>
                <input type="text" id="password" name="password" />
            </div>
            <input type="submit" name="submit">
            </form>
        </div>   
    </div>
</body>
</html>