<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style/preview.css">    
    <title>Preview</title>
</head>
<body>
    <div class="navbar">
        <span class="navbar__header">ALZHEIMER’S DIAGNOSIS</span>
        <div class="navbar__items">
            <a href="/registed"><span>REGISTED</span></a>
            <a href="/predict"><span>PREDICT</span></a>
            <a href="/suggestions"><span>SUGGESTION</span></a>
        </div>
    </div>
    <div class="preview__container">
        <div class="preview__inner__container">
            <span class="preview__header">Preview</span>
            {% if result == 'NonDemented' %}
                <img src="{{ image }}">
                <p>{{ result }}</p>
            {% else %}
                <img src="{{ image }}">
                <p>{{ result }}</p>
                <a href="{{ url_for('register', result=result) }}"><button>Register</button></a>
            {% endif %}
        </div>
    </div>
</body>
</html>