<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/suggestions.css">
    <title>Suggestions</title>
</head>
<body>
    <div class="navbar">
        <span class="navbar__header">ALZHEIMER’S DIAGNOSIS</span>
        <div class="navbar__items">
            <a href="/registed"><span>REGISTED</span></a>
            <a href="/predict"><span>PREDICT</span></a>
            <a href="/suggestions"><span>SUGGESTIONS</span></a>
        </div>
    </div>
    <div class="suggestions__container">
        <section class="suggestions__inner__container__medications">
            <span class="suggestions__header">Medication</span><br><br>
            <div class="suggestions__context">
                <span><b>CHOLINESTERASE INHIBITORS:</b></span><br><br>
                <span style="color: red;">*(These drugs work by increasing levels of neurotransmitter called ACETYLCHOLINE, which is involved in memory and learning. And all these are prescribed to manage cognitive symptoms in AD)
                </span><br><br>
                <ul style="list-style-type:circle">
                    <li><b>DONEPEZIL(Aricept)</b> - Aricept is taken as a tablet once a day, in the evening. It is important to follow the prescribed dosage and instructions provided by the doctor. Common side effects of Aricept may include nausea, vomiting, diarrhoea, and muscle cramps, but these are often temporary and mild.</li>
                    <li><b>RIVASTIGMINE(Exelon)</b> - Common side effects include nausea, vomiting, loss of appetite, and diarrhea. These side effects are usually mild and temporary, but it's important to discuss any concerns with a healthcare provider.</li>
                    <li><b>GALANTAMINE(Razadyne)</b> -  The medication may take some time to show its full effects, so it's important to continue taking it as prescribed and regularly follow up with a healthcare provider.</li>
                </ul><br>
                <span><b>MEMANTINE:</b></span><br><br>
                <span style="color: red;">*(This is prescribed for moderate to severe AD to help regulate the activity of glutamate, another neurotransmitter involved in learning and memory)</span><br><br>
                <ul>
                    <li><b>NAMENDA(N-methyl-D-asparate)</b> – is a receptor antagonist.</li>
                </ul><br>
                <span><b>COMBINATION THERAPY:</b></span><br><br>
                <span style="color: red;">*(This is prescribed as a combination of Cholinesterase inhibitors and Memantine to provide a more comprehensive treatment approach).</span><br><br>
                <ul>
                    <li><b>Donepezil + Memantine:</b> Donepezil (brand name Aricept) is a cholinesterase inhibitor, and memantine (brand name Namenda) is an NMDA receptor antagonist. This combination is often used for moderate to severe Alzheimer's disease.</li>
                    <li><b>Rivastigmine + Memantine:</b> Rivastigmine (brand name Exelon) is a cholinesterase inhibitor that may be combined with memantine for the treatment of moderate to severe Alzheimer's disease.</li>
                    <li><b>Galantamine + Memantine:</b> Galantamine (brand name Razadyne) is another cholinesterase inhibitor that can be used in combination with memantine for managing cognitive symptoms in Alzheimer's disease.</li>
                </ul><br>
            </div>
            <span class="suggestions__header">Diet</span><br><br>
            <ul style="display: flex;flex-direction: column;gap:2rem">
                <li>Leady green vegetables, at least 6 servings/week.</li>
                <li>Other vegetables, at least 1 serving/day.</li>
                <li>Berries, at least 2 servings/week.</li>
                <li>Whole grains, at least 3 servings/day.</li>
                <li>Fish, 1serving/week.</li>
                <li>Poultry, 2 servings/week.</li>
                <li>Beans, 3 servings/week.</li>
                <li>Nuts, 5 servings/week.</li>
                <li>Wine, 1 glass/day.</li>
                <li>Olive oil.</li><br>
            </ul>
            <span>This diet limits servings of red meat, sweets, cheese, butter milk/margarine and fast/fried food.</span><br><br>
            <span style="color: red;">*(Be careful about how much alcohol you drink.  How the body handles alcohol can change with age.)</span>
        </section>     
    </div>
</body>
</html>